@model Hermodus.Data.Comment

@{
    ViewBag.Title = "Удалить комментарий";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container body-content-pages ">
    <h2>Удалить</h2>

    <h3>Вы уверены, что хотите улалить этот комментарий?</h3>
    <div>


        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color" style="margin-bottom:50px;">
                <input type="submit" value="Удалить" class="btn btn-danger glyphicon glyphicon glyphicon-trash" />

            </div>
        }
    </div>
</div>