@{
    ViewBag.Title = "Запрос на отправку пароля";
}
<div class="container body-content-pages">
    <hgroup class="title">
        <h1>@ViewBag.Title.</h1>
    </hgroup>
    <hr/>
    <div>
        <p>
            Проверьте почту
        </p>
    </div>

</div>