@model IEnumerable<Hermodus.Data.Company>
@using GridMvc.Html

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Dashbord.cshtml";
}


<link href="~/Content/reveal.css" rel="stylesheet" />

<div class="panel panel-default">
    <div class="panel-heading">

        <div><span class="fa fa-list fa-2x" aria-hidden="true"></span> All Companies</div>
    </div>
    <div class="panel-body">

        <div class="code-cut table table-responsive">
            @Html.Grid(Model).Columns(columns =>
       {
           columns.Add(c => c.Name).Titled("Company Name").Filterable(true);
          
           columns.Add().Encoded(false).Sanitized(false).SetWidth(30).RenderValueAs(o => Html.ActionLink("Edit", "Edit", new { id = o.Id }));
          
           columns.Add().Encoded(false).Sanitized(false).SetWidth(30).RenderValueAs(o => Html.ActionLink("Delete", "Delete", new { id = o.Id }));

       }).WithPaging(10).Sortable(true)
        </div>


    </div>
    <div class="panel-footer">
        @Html.ActionLink("New Company", "NewCompany", null, new { @class = "btn btn-primary fa fa-plus"  })
     
    </div>
</div>






