@model MyBlog.Data.ShippingDetail

@{
    ViewBag.Title = "Удалить заказ";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container body-content-pages ">
    <h2>Удалить заказ</h2>

    <h3> Подтвердите действие</h3>
    <div>


        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <input type="submit" value="Удалить" class="btn btn-danger glyphicon glyphicon glyphicon-trash" />

            </div>
        }
    </div>
</div>